# Python for Machine Learning Bootcamp
## 1. Numpy
### Lists vs. Arrays
* Lists are standard Python objects (they come out of the box), whereas arrays are numpy specific objects.
* Lists size can change (i.e. append/delete) whereas arrays cannot, their size/memory allocation is fixed.

In [4]:
# load module
import numpy as np

# enable intellisense
%config IPCompleter.greedy=True

# basic list
list1 = [0,1,2,3,4]

# create array
arr1d = np.array(list1)

# print array
print(list1)
print(arr1d)

[0, 1, 2, 3, 4]
[0 1 2 3 4]

* Lists cannot have things added to them, whereas arrays can be incremented via sum operations.

In [5]:
# attempt to increment list, this will not work
list1 + 2

TypeError: can only concatenate list (not "int") to list

In [6]:
# increment array, this increments all array items by value specified
arr1d + 2

array([2, 3, 4, 5, 6])

* There are many basic actions you can perform with arrays.

In [7]:
# create list of lists
list2 = [[1,1,1], [2,2,2], [3,3,3]]

# convert to array
arr2d = np.array(list2)

# print array
arr2d

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

In [8]:
# check object type
type(arr2d)

numpy.ndarray

In [9]:
# check data type within array
arr2d.dtype

dtype('int32')

__NOTE:__
* If you press shift + tab within the parentheses of a method (e.g. within the below "array(...)" method, then it will show you the different options for that method.
* Shift + double tab will show you the full, expanded text relating to each method parameter.

In [12]:
# convert type of array 
arr2d = np.array(list2, dtype = 'float')

# print array
print(arr2d)

[[1. 1. 1.]
 [2. 2. 2.]
 [3. 3. 3.]]

In [11]:
# check data type within array
arr2d.dtype

dtype('float64')

In [20]:
# convert type of array
arr2d = arr2d.astype('str')
arr2d = arr2d.astype('int')

* Lists can contain multiple data types, whereas arrays must contain the same data type only

In [16]:
# append string to list of ints
list1.append('6')

# show list
print(list1)

[0, 1, 2, 3, 4, '6']

In [21]:
# convert array into a list
np2list = arr2d.tolist()

# show lsit
print(np2list)

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

* You can convert arrays into many different object types

In [22]:
# convert array into string
arr2d.tostring()

b'\x01\x00\x00\x00\x01\x00\x00\x00\x01\x00\x00\x00\x02\x00\x00\x00\x02\x00\x00\x00\x02\x00\x00\x00\x03\x00\x00\x00\x03\x00\x00\x00\x03\x00\x00\x00'

In [23]:
# convert array into bytes
arr2d.tobytes()

b'\x01\x00\x00\x00\x01\x00\x00\x00\x01\x00\x00\x00\x02\x00\x00\x00\x02\x00\x00\x00\x02\x00\x00\x00\x03\x00\x00\x00\x03\x00\x00\x00\x03\x00\x00\x00'

### Properties of Arrays

In [26]:
# show list 2
print(list2)

# convert array into float
arr2d = arr2d.astype('float')

# show arr2d
print(arr2d)

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]
[[1. 1. 1.]
 [2. 2. 2.]
 [3. 3. 3.]]

* Shape indicates rows and columns of object (i.e. dimensions)

In [28]:
# shape of array
print('Shape: ', arr2d.shape)

Shape:  (3, 3)

* Size indicates the count of items within the array (i.e. 3 x 3 here)

In [29]:
# size of array
print('Size: ', arr2d.size)

Size:  9

* Ndim gets the dimensions of an object, a simple array has 1 dimension, whilst the standard grid has 2 dimensions.

In [32]:
# get dimensions of arrays
print(arr2d.ndim, arr1d.ndim)

2 1

* You can apply functions to arrays to modify their contents.
* You can extract values from a 1d array using standard indexing.

In [34]:
# square values within array
arr1d = arr1d * arr1d
print(arr1d)

# extract specific values
arr1d[1]

[  0   1  16  81 256]

1

* For 2 dimensional arrays, you must specify the row and column combination to extract specific values.

In [37]:
# print array
print(arr2d)

# extract row 1, column 0
arr2d[1][0] # [R][C]

[[1. 1. 1.]
 [2. 2. 2.]
 [3. 3. 3.]]

2.0

* Boolean indexing and logic can be used on arrays.

In [40]:
# check logic on array
boolarr = arr2d<3

# show results (True for <3, False for >=3)
print(boolarr)

[[ True  True  True]
 [ True  True  True]
 [False False False]]

* Basic functions can be performed on arrays.
* Before the comma refers to rows, after the comma refers to columns.
* Below we use square brackets to index the array, the '::' means we are selecting all rows/columns because we're not specifying start/stop
* And the '-1' means the step is backwards and going through 1 item at a time
* This is standard __[start, stop, step]__ indexing of an array/list

In [42]:
# reverse array order
arr2d = arr2d[::-1, ::-1] # before comma changes row order, after comma changes column order
print(arr2d)

[[3. 3. 3.]
 [2. 2. 2.]
 [1. 1. 1.]]

### Infinite and Nan
* Cannot do any mathematical or operational functions on these types (e.g. mean, sum...)

In [43]:
# not a number (e.g. output of incorrect function)
np.nan

nan

In [44]:
# infinite number (e.g. divide by 0)
np.inf

inf

In [45]:
# insert nan and inf into array
arr2d[0][0] = np.nan # assign value to position
arr2d[0][1] = np.inf
print(arr2d)

[[nan inf  3.]
 [ 2.  2.  2.]
 [ 1.  1.  1.]]

In [48]:
# check which items are nan
print(np.isnan(arr2d))

# check which items are inf
print(np.isinf(arr2d))

[[ True False False]
 [False False False]
 [False False False]]
[[False  True False]
 [False False False]
 [False False False]]

In [50]:
# combine both to find any missing values
missing_flag = np.isnan(arr2d) | np.isinf(arr2d)
missing_flag

array([[ True,  True, False],
       [False, False, False],
       [False, False, False]])

In [53]:
# replace inf and nan with 0
arr2d[missing_flag] = 0
arr2d

array([[0., 0., 3.],
       [2., 2., 2.],
       [1., 1., 1.]])

### Numpy Statistical Operations
* Lots of standard operations such as mean, max, min, var, std etc.

In [54]:
arr2d.mean()

1.3333333333333333

In [55]:
arr2d.max()

3.0

In [56]:
arr2d.min()

0.0

In [57]:
arr2d.std()

0.9428090415820634

In [58]:
arr2d.var()

0.8888888888888888

* Press tab after the '.' and it will show you all of the other operations you can perform on the array.

In [59]:
arr2d.squeeze() # press shift + tab in brackets for explanation

array([[0., 0., 3.],
       [2., 2., 2.],
       [1., 1., 1.]])

In [60]:
arr2d.cumsum() # cumulative sum of each value in array

array([ 0.,  0.,  3.,  5.,  7.,  9., 10., 11., 12.])

In [63]:
# take first 2 rows and columns, goes from value before : up to (but not incl. value after :)
arr = arr2d[:2,:2] # [R][C]
arr

array([[0., 0.],
       [2., 2.]])

* You can reshape a numpy array into any format that fits.
* For a 3x3 grid the below options are the only options, using eg. reshape(2,4) wouldn't work because there are 9 values, not 8.

In [66]:
arr2d.reshape(1,9)
arr2d.reshape(9,1)
arr2d.reshape(3,3)

array([[0., 0., 3.],
       [2., 2., 2.],
       [1., 1., 1.]])

* You can also flatten arrays into 1d arrays (this is equivalent to the '.reshape(1,9)' from above.

In [75]:
a = arr2d.flatten()
a # this is a fresh copy of the original arr2d, changes to a won't affect arr2d

array([0., 0., 3., 2., 2., 2., 1., 1., 1.])

* Ravel is more memory efficient than flatten. Flatten creates a copy of the original array, thus not affecting the parent. Whereas ravel changes the parent rather than creating a copy (this is called a reference).

In [76]:
b = arr2d.ravel()
b # this is a reference to the original arr2d, changes to b affect arr2d

array([0., 0., 3., 2., 2., 2., 1., 1., 1.])

* Supposedly in the below code, changes to a won't affect arr2d but changes to b will (however this doesn't appear to be working!).

In [79]:
a[0] = -1
print(arr2d)

b[0] = -1
arr2d

[[0. 0. 3.]
 [2. 2. 2.]
 [1. 1. 1.]]

array([[0., 0., 3.],
       [2., 2., 2.],
       [1., 1., 1.]])

### Sequences
* Generate sequences of numbers with various parameters.
* Parameters include type (object, int, float etc.), start/stop/step).

In [83]:
# create range from 1 to 7 in steps of 2 (does not include end of range specified)
a = np.arange(1, 8, 2, dtype = 'object') # specify type here, object means string
print(a)

[1 3 5 7]

* Linspace is similar but generates a set amount of numbers between start and stop in a linearly spaced (i.e. eventy spaced) way.

In [88]:
# generate 4 nunbers between 1 and 50, evenly spaced
np.linspace(1, 50, 4)

array([ 1.        , 17.33333333, 33.66666667, 50.        ])

In [89]:
# generate numbers between 1 and 50 in a logarithmic scale, base 10
np.logspace(1, 50, 10)

array([1.00000000e+01, 2.78255940e+06, 7.74263683e+11, 2.15443469e+17,
       5.99484250e+22, 1.66810054e+28, 4.64158883e+33, 1.29154967e+39,
       3.59381366e+44, 1.00000000e+50])

In [92]:
# generate an array of specific values
np.zeros([2,2])

array([[0., 0.],
       [0., 0.]])

In [93]:
# generate an array of specific values
np.ones([2,2])

array([[1., 1.],
       [1., 1.]])

* You can create large arrays using sub-sections.
* Tile appends new versions after each other, retaining original order.
* Repeat multiplies each item next to itself.

In [95]:
# create single row to be repeated
a = [1, 2, 3]

# create array from sub-section
b = np.tile(a, 3) # repeats a 3 times
b

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [96]:
# repeat each item in the original item in order
np.repeat(a, 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

### Random Numbers

In [102]:
# create random values in 3x3 grid
# by default this is between 0 and 1
np.random.rand(3, 3)

array([[0.96924004, 0.42660643, 0.69763458],
       [0.81692623, 0.11082988, 0.21879002],
       [0.61085334, 0.47716499, 0.5105914 ]])

In [103]:
# create random values but normally distributed
# by default this is between -1 and 1
np.random.randn(3, 3)

array([[-0.59403322, -0.87331152, -0.56172087],
       [-0.21892688, -1.04301048, -0.15963469],
       [ 0.83537078, -0.88104998, -1.18634497]])

In [106]:
# generates single random integer between 0 and 10 in 3x3 grid
# dtype lets you specify 'l' or 'h' for low or high to skew things
np.random.randint(0, 10, [3, 3], dtype='l')

array([[3, 4, 5],
       [6, 2, 6],
       [5, 6, 1]])

* Seeds ensure that the random numbers generated are the same each time.
* The above code will produce different random numbers each time because they are unseeded.
* Whereas the below code will always produce the same random numbers because a seed has been produced.

In [109]:
# a seed ensures that the random numbers generated are identical each time
np.random.seed(0)
np.random.randn(3, 3)

array([[ 1.76405235,  0.40015721,  0.97873798],
       [ 2.2408932 ,  1.86755799, -0.97727788],
       [ 0.95008842, -0.15135721, -0.10321885]])

In [112]:
# show unique values within array
np.unique(arr2d)

array([0., 1., 2., 3.])

In [115]:
# show unique values followed by the count of each
uniques, counts = np.unique(arr2d, return_counts=True)
print(arr2d, uniques, counts)

[[0. 0. 3.]
 [2. 2. 2.]
 [1. 1. 1.]] [0. 1. 2. 3.] [2 3 3 1]

### Conditional Indexing
* np.where lets you extract things based on specific criteria.

In [118]:
# create array
arr = np.array([8,94,8,56,1,3,4,5,7,23,18])
print(arr)

[ 8 94  8 56  1  3  4  5  7 23 18]

In [122]:
# get values greater than 10
index_get10 = np.where(arr>10)

# show index of results
print(index_get10) # shows index of values, rather than values themselves

# show actual values
print(arr[index_get10])

# alternate method
print(arr[arr>10])

# show boolean indexing of condition
print(arr>10)

(array([ 1,  3,  9, 10], dtype=int64),)
[94 56 23 18]
[94 56 23 18]
[False  True False  True False False False False False  True  True]

In [123]:
# replace values with "if condition then x, else y" logic
np.where(arr>10, 'gt10', 'lt10')

array(['lt10', 'gt10', 'lt10', 'gt10', 'lt10', 'lt10', 'lt10', 'lt10',
       'lt10', 'gt10', 'gt10'], dtype='<U4')

* As well as getting max and min values, you can also get the index of these values if you like.

In [126]:
print(arr)
print(arr.max())
print(arr.argmax())
print(arr.min())
print(arr.argmin())

[ 8 94  8 56  1  3  4  5  7 23 18]
94
1
1
4

### Reading and Writing CSVs
* Two main methods; genfromtxt() and loadtxt().
* The first can read multiple data types (e.g. text, ints etc.) whilst the second can only read text.
* If you get errors initially, look at the source data and see what conditions/parameters you need to add to your code to handle things like delimiters, headers etc.

In [135]:
# read in github text
# use shift + tab to see options (lots here!)
data = np.genfromtxt('https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv',
                     delimiter=',', skip_header=1, filling_values=-1000, dtype='float')

# check rows and cols
data.shape

(392, 9)

In [134]:
# turn off scientific notation (ie. e+01)
np.set_printoptions(suppress=True)

# inspect first 3 rows
data[:3]

array([[   18. ,     8. ,   307. ,   130. ,  3504. ,    12. ,    70. ,
            1. , -1000. ],
       [   15. ,     8. ,   350. ,   165. ,  3693. ,    11.5,    70. ,
            1. , -1000. ],
       [   18. ,     8. ,   318. ,   150. ,  3436. ,    11. ,    70. ,
            1. , -1000. ]])

In [137]:
# read in data
data2 = np.genfromtxt('https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv',
                      delimiter=',', skip_header=1, dtype=None)

# get first 3 rows
data2[:3]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  This is separate from the ipykernel package so we can avoid doing imports until

array([(18., 8, 307., 130, 3504, 12. , 70, 1, b'"chevrolet chevelle malibu"'),
       (15., 8, 350., 165, 3693, 11.5, 70, 1, b'"buick skylark 320"'),
       (18., 8, 318., 150, 3436, 11. , 70, 1, b'"plymouth satellite"')],
      dtype=[('f0', '<f8'), ('f1', '<i4'), ('f2', '<f8'), ('f3', '<i4'), ('f4', '<i4'), ('f5', '<f8'), ('f6', '<i4'), ('f7', '<i4'), ('f8', 'S38')])

In [138]:
# save data (by default this goes into the same folder as the script)
np.savetxt('data.csv', data, delimiter=',')

In [139]:
# save array as an actual numpy array (not as text etc.)
np.save('data.npy', data)

In [140]:
# saves multiple arrays together
np.savez('data2.npz', data, data2)

In [144]:
# load data into memory from file
d = np.load('data2.npz')

# check number of arrays/files
print(d.files)

# extract specific array
print(d['arr_1'])

['arr_0', 'arr_1']
[(18. , 8, 307. , 130, 3504, 12. , 70, 1, b'"chevrolet chevelle malibu"')
 (15. , 8, 350. , 165, 3693, 11.5, 70, 1, b'"buick skylark 320"')
 (18. , 8, 318. , 150, 3436, 11. , 70, 1, b'"plymouth satellite"')
 (16. , 8, 304. , 150, 3433, 12. , 70, 1, b'"amc rebel sst"')
 (17. , 8, 302. , 140, 3449, 10.5, 70, 1, b'"ford torino"')
 (15. , 8, 429. , 198, 4341, 10. , 70, 1, b'"ford galaxie 500"')
 (14. , 8, 454. , 220, 4354,  9. , 70, 1, b'"chevrolet impala"')
 (14. , 8, 440. , 215, 4312,  8.5, 70, 1, b'"plymouth fury iii"')
 (14. , 8, 455. , 225, 4425, 10. , 70, 1, b'"pontiac catalina"')
 (15. , 8, 390. , 190, 3850,  8.5, 70, 1, b'"amc ambassador dpl"')
 (15. , 8, 383. , 170, 3563, 10. , 70, 1, b'"dodge challenger se"')
 (14. , 8, 340. , 160, 3609,  8. , 70, 1, b'"plymouth \'cuda 340"')
 (15. , 8, 400. , 150, 3761,  9.5, 70, 1, b'"chevrolet monte carlo"')
 (14. , 8, 455. , 225, 3086, 10. , 70, 1, b'"buick estate wagon (sw)"')
 (24. , 4, 113. ,  95, 2372, 15. , 70, 3, b'"toyota corona mark ii"')
 (22. , 6, 198. ,  95, 2833, 15.5, 70, 1, b'"plymouth duster"')
 (18. , 6, 199. ,  97, 2774, 15.5, 70, 1, b'"amc hornet"')
 (21. , 6, 200. ,  85, 2587, 16. , 70, 1, b'"ford maverick"')
 (27. , 4,  97. ,  88, 2130, 14.5, 70, 3, b'"datsun pl510"')
 (26. , 4,  97. ,  46, 1835, 20.5, 70, 2, b'"volkswagen 1131 deluxe sedan"')
 (25. , 4, 110. ,  87, 2672, 17.5, 70, 2, b'"peugeot 504"')
 (24. , 4, 107. ,  90, 2430, 14.5, 70, 2, b'"audi 100 ls"')
 (25. , 4, 104. ,  95, 2375, 17.5, 70, 2, b'"saab 99e"')
 (26. , 4, 121. , 113, 2234, 12.5, 70, 2, b'"bmw 2002"')
 (21. , 6, 199. ,  90, 2648, 15. , 70, 1, b'"amc gremlin"')
 (10. , 8, 360. , 215, 4615, 14. , 70, 1, b'"ford f250"')
 (10. , 8, 307. , 200, 4376, 15. , 70, 1, b'"chevy c20"')
 (11. , 8, 318. , 210, 4382, 13.5, 70, 1, b'"dodge d200"')
 ( 9. , 8, 304. , 193, 4732, 18.5, 70, 1, b'"hi 1200d"')
 (27. , 4,  97. ,  88, 2130, 14.5, 71, 3, b'"datsun pl510"')
 (28. , 4, 140. ,  90, 2264, 15.5, 71, 1, b'"chevrolet vega 2300"')
 (25. , 4, 113. ,  95, 2228, 14. , 71, 3, b'"toyota corona"')
 (19. , 6, 232. , 100, 2634, 13. , 71, 1, b'"amc gremlin"')
 (16. , 6, 225. , 105, 3439, 15.5, 71, 1, b'"plymouth satellite custom"')
 (17. , 6, 250. , 100, 3329, 15.5, 71, 1, b'"chevrolet chevelle malibu"')
 (19. , 6, 250. ,  88, 3302, 15.5, 71, 1, b'"ford torino 500"')
 (18. , 6, 232. , 100, 3288, 15.5, 71, 1, b'"amc matador"')
 (14. , 8, 350. , 165, 4209, 12. , 71, 1, b'"chevrolet impala"')
 (14. , 8, 400. , 175, 4464, 11.5, 71, 1, b'"pontiac catalina brougham"')
 (14. , 8, 351. , 153, 4154, 13.5, 71, 1, b'"ford galaxie 500"')
 (14. , 8, 318. , 150, 4096, 13. , 71, 1, b'"plymouth fury iii"')
 (12. , 8, 383. , 180, 4955, 11.5, 71, 1, b'"dodge monaco (sw)"')
 (13. , 8, 400. , 170, 4746, 12. , 71, 1, b'"ford country squire (sw)"')
 (13. , 8, 400. , 175, 5140, 12. , 71, 1, b'"pontiac safari (sw)"')
 (18. , 6, 258. , 110, 2962, 13.5, 71, 1, b'"amc hornet sportabout (sw)"')
 (22. , 4, 140. ,  72, 2408, 19. , 71, 1, b'"chevrolet vega (sw)"')
 (19. , 6, 250. , 100, 3282, 15. , 71, 1, b'"pontiac firebird"')
 (18. , 6, 250. ,  88, 3139, 14.5, 71, 1, b'"ford mustang"')
 (23. , 4, 122. ,  86, 2220, 14. , 71, 1, b'"mercury capri 2000"')
 (28. , 4, 116. ,  90, 2123, 14. , 71, 2, b'"opel 1900"')
 (30. , 4,  79. ,  70, 2074, 19.5, 71, 2, b'"peugeot 304"')
 (30. , 4,  88. ,  76, 2065, 14.5, 71, 2, b'"fiat 124b"')
 (31. , 4,  71. ,  65, 1773, 19. , 71, 3, b'"toyota corolla 1200"')
 (35. , 4,  72. ,  69, 1613, 18. , 71, 3, b'"datsun 1200"')
 (27. , 4,  97. ,  60, 1834, 19. , 71, 2, b'"volkswagen model 111"')
 (26. , 4,  91. ,  70, 1955, 20.5, 71, 1, b'"plymouth cricket"')
 (24. , 4, 113. ,  95, 2278, 15.5, 72, 3, b'"toyota corona hardtop"')
 (25. , 4,  97.5,  80, 2126, 17. , 72, 1, b'"dodge colt hardtop"')
 (23. , 4,  97. ,  54, 2254, 23.5, 72, 2, b'"volkswagen type 3"')
 (20. , 4, 140. ,  90, 2408, 19.5, 72, 1, b'"chevrolet vega"')
 (21. , 4, 122. ,  86, 2226, 16.5, 72, 1, b'"ford pinto runabout"')
 (13. , 8, 350. , 165, 4274, 12. , 72, 1, b'"chevrolet impala"')
 (14. , 8, 400. , 175, 4385, 12. , 72, 1, b'"pontiac catalina"')
 (15. , 8, 318. , 150, 4135, 13.5, 72, 1, b'"plymouth fury iii"')
 (14. , 8, 351. , 153, 4129, 13. , 72, 1, b'"ford galaxie 500"')
 (17. , 8, 304. , 150, 3672, 11.5, 72, 1, b'"amc ambassador sst"')
 (11. , 8, 429. , 208, 4633, 11. , 72, 1, b'"mercury marquis"')
 (13. , 8, 350. , 155, 4502, 13.5, 72, 1, b'"buick lesabre custom"')
 (12. , 8, 350. , 160, 4456, 13.5, 72, 1, b'"oldsmobile delta 88 royale"')
 (13. , 8, 400. , 190, 4422, 12.5, 72, 1, b'"chrysler newport royal"')
 (19. , 3,  70. ,  97, 2330, 13.5, 72, 3, b'"mazda rx2 coupe"')
 (15. , 8, 304. , 150, 3892, 12.5, 72, 1, b'"amc matador (sw)"')
 (13. , 8, 307. , 130, 4098, 14. , 72, 1, b'"chevrolet chevelle concours (sw)"')
 (13. , 8, 302. , 140, 4294, 16. , 72, 1, b'"ford gran torino (sw)"')
 (14. , 8, 318. , 150, 4077, 14. , 72, 1, b'"plymouth satellite custom (sw)"')
 (18. , 4, 121. , 112, 2933, 14.5, 72, 2, b'"volvo 145e (sw)"')
 (22. , 4, 121. ,  76, 2511, 18. , 72, 2, b'"volkswagen 411 (sw)"')
 (21. , 4, 120. ,  87, 2979, 19.5, 72, 2, b'"peugeot 504 (sw)"')
 (26. , 4,  96. ,  69, 2189, 18. , 72, 2, b'"renault 12 (sw)"')
 (22. , 4, 122. ,  86, 2395, 16. , 72, 1, b'"ford pinto (sw)"')
 (28. , 4,  97. ,  92, 2288, 17. , 72, 3, b'"datsun 510 (sw)"')
 (23. , 4, 120. ,  97, 2506, 14.5, 72, 3, b'"toyouta corona mark ii (sw)"')
 (28. , 4,  98. ,  80, 2164, 15. , 72, 1, b'"dodge colt (sw)"')
 (27. , 4,  97. ,  88, 2100, 16.5, 72, 3, b'"toyota corolla 1600 (sw)"')
 (13. , 8, 350. , 175, 4100, 13. , 73, 1, b'"buick century 350"')
 (14. , 8, 304. , 150, 3672, 11.5, 73, 1, b'"amc matador"')
 (13. , 8, 350. , 145, 3988, 13. , 73, 1, b'"chevrolet malibu"')
 (14. , 8, 302. , 137, 4042, 14.5, 73, 1, b'"ford gran torino"')
 (15. , 8, 318. , 150, 3777, 12.5, 73, 1, b'"dodge coronet custom"')
 (12. , 8, 429. , 198, 4952, 11.5, 73, 1, b'"mercury marquis brougham"')
 (13. , 8, 400. , 150, 4464, 12. , 73, 1, b'"chevrolet caprice classic"')
 (13. , 8, 351. , 158, 4363, 13. , 73, 1, b'"ford ltd"')
 (14. , 8, 318. , 150, 4237, 14.5, 73, 1, b'"plymouth fury gran sedan"')
 (13. , 8, 440. , 215, 4735, 11. , 73, 1, b'"chrysler new yorker brougham"')
 (12. , 8, 455. , 225, 4951, 11. , 73, 1, b'"buick electra 225 custom"')
 (13. , 8, 360. , 175, 3821, 11. , 73, 1, b'"amc ambassador brougham"')
 (18. , 6, 225. , 105, 3121, 16.5, 73, 1, b'"plymouth valiant"')
 (16. , 6, 250. , 100, 3278, 18. , 73, 1, b'"chevrolet nova custom"')
 (18. , 6, 232. , 100, 2945, 16. , 73, 1, b'"amc hornet"')
 (18. , 6, 250. ,  88, 3021, 16.5, 73, 1, b'"ford maverick"')
 (23. , 6, 198. ,  95, 2904, 16. , 73, 1, b'"plymouth duster"')
 (26. , 4,  97. ,  46, 1950, 21. , 73, 2, b'"volkswagen super beetle"')
 (11. , 8, 400. , 150, 4997, 14. , 73, 1, b'"chevrolet impala"')
 (12. , 8, 400. , 167, 4906, 12.5, 73, 1, b'"ford country"')
 (13. , 8, 360. , 170, 4654, 13. , 73, 1, b'"plymouth custom suburb"')
 (12. , 8, 350. , 180, 4499, 12.5, 73, 1, b'"oldsmobile vista cruiser"')
 (18. , 6, 232. , 100, 2789, 15. , 73, 1, b'"amc gremlin"')
 (20. , 4,  97. ,  88, 2279, 19. , 73, 3, b'"toyota carina"')
 (21. , 4, 140. ,  72, 2401, 19.5, 73, 1, b'"chevrolet vega"')
 (22. , 4, 108. ,  94, 2379, 16.5, 73, 3, b'"datsun 610"')
 (18. , 3,  70. ,  90, 2124, 13.5, 73, 3, b'"maxda rx3"')
 (19. , 4, 122. ,  85, 2310, 18.5, 73, 1, b'"ford pinto"')
 (21. , 6, 155. , 107, 2472, 14. , 73, 1, b'"mercury capri v6"')
 (26. , 4,  98. ,  90, 2265, 15.5, 73, 2, b'"fiat 124 sport coupe"')
 (15. , 8, 350. , 145, 4082, 13. , 73, 1, b'"chevrolet monte carlo s"')
 (16. , 8, 400. , 230, 4278,  9.5, 73, 1, b'"pontiac grand prix"')
 (29. , 4,  68. ,  49, 1867, 19.5, 73, 2, b'"fiat 128"')
 (24. , 4, 116. ,  75, 2158, 15.5, 73, 2, b'"opel manta"')
 (20. , 4, 114. ,  91, 2582, 14. , 73, 2, b'"audi 100ls"')
 (19. , 4, 121. , 112, 2868, 15.5, 73, 2, b'"volvo 144ea"')
 (15. , 8, 318. , 150, 3399, 11. , 73, 1, b'"dodge dart custom"')
 (24. , 4, 121. , 110, 2660, 14. , 73, 2, b'"saab 99le"')
 (20. , 6, 156. , 122, 2807, 13.5, 73, 3, b'"toyota mark ii"')
 (11. , 8, 350. , 180, 3664, 11. , 73, 1, b'"oldsmobile omega"')
 (20. , 6, 198. ,  95, 3102, 16.5, 74, 1, b'"plymouth duster"')
 (19. , 6, 232. , 100, 2901, 16. , 74, 1, b'"amc hornet"')
 (15. , 6, 250. , 100, 3336, 17. , 74, 1, b'"chevrolet nova"')
 (31. , 4,  79. ,  67, 1950, 19. , 74, 3, b'"datsun b210"')
 (26. , 4, 122. ,  80, 2451, 16.5, 74, 1, b'"ford pinto"')
 (32. , 4,  71. ,  65, 1836, 21. , 74, 3, b'"toyota corolla 1200"')
 (25. , 4, 140. ,  75, 2542, 17. , 74, 1, b'"chevrolet vega"')
 (16. , 6, 250. , 100, 3781, 17. , 74, 1, b'"chevrolet chevelle malibu classic"')
 (16. , 6, 258. , 110, 3632, 18. , 74, 1, b'"amc matador"')
 (18. , 6, 225. , 105, 3613, 16.5, 74, 1, b'"plymouth satellite sebring"')
 (16. , 8, 302. , 140, 4141, 14. , 74, 1, b'"ford gran torino"')
 (13. , 8, 350. , 150, 4699, 14.5, 74, 1, b'"buick century luxus (sw)"')
 (14. , 8, 318. , 150, 4457, 13.5, 74, 1, b'"dodge coronet custom (sw)"')
 (14. , 8, 302. , 140, 4638, 16. , 74, 1, b'"ford gran torino (sw)"')
 (14. , 8, 304. , 150, 4257, 15.5, 74, 1, b'"amc matador (sw)"')
 (29. , 4,  98. ,  83, 2219, 16.5, 74, 2, b'"audi fox"')
 (26. , 4,  79. ,  67, 1963, 15.5, 74, 2, b'"volkswagen dasher"')
 (26. , 4,  97. ,  78, 2300, 14.5, 74, 2, b'"opel manta"')
 (31. , 4,  76. ,  52, 1649, 16.5, 74, 3, b'"toyota corona"')
 (32. , 4,  83. ,  61, 2003, 19. , 74, 3, b'"datsun 710"')
 (28. , 4,  90. ,  75, 2125, 14.5, 74, 1, b'"dodge colt"')
 (24. , 4,  90. ,  75, 2108, 15.5, 74, 2, b'"fiat 128"')
 (26. , 4, 116. ,  75, 2246, 14. , 74, 2, b'"fiat 124 tc"')
 (24. , 4, 120. ,  97, 2489, 15. , 74, 3, b'"honda civic"')
 (26. , 4, 108. ,  93, 2391, 15.5, 74, 3, b'"subaru"')
 (31. , 4,  79. ,  67, 2000, 16. , 74, 2, b'"fiat x1.9"')
 (19. , 6, 225. ,  95, 3264, 16. , 75, 1, b'"plymouth valiant custom"')
 (18. , 6, 250. , 105, 3459, 16. , 75, 1, b'"chevrolet nova"')
 (15. , 6, 250. ,  72, 3432, 21. , 75, 1, b'"mercury monarch"')
 (15. , 6, 250. ,  72, 3158, 19.5, 75, 1, b'"ford maverick"')
 (16. , 8, 400. , 170, 4668, 11.5, 75, 1, b'"pontiac catalina"')
 (15. , 8, 350. , 145, 4440, 14. , 75, 1, b'"chevrolet bel air"')
 (16. , 8, 318. , 150, 4498, 14.5, 75, 1, b'"plymouth grand fury"')
 (14. , 8, 351. , 148, 4657, 13.5, 75, 1, b'"ford ltd"')
 (17. , 6, 231. , 110, 3907, 21. , 75, 1, b'"buick century"')
 (16. , 6, 250. , 105, 3897, 18.5, 75, 1, b'"chevroelt chevelle malibu"')
 (15. , 6, 258. , 110, 3730, 19. , 75, 1, b'"amc matador"')
 (18. , 6, 225. ,  95, 3785, 19. , 75, 1, b'"plymouth fury"')
 (21. , 6, 231. , 110, 3039, 15. , 75, 1, b'"buick skyhawk"')
 (20. , 8, 262. , 110, 3221, 13.5, 75, 1, b'"chevrolet monza 2+2"')
 (13. , 8, 302. , 129, 3169, 12. , 75, 1, b'"ford mustang ii"')
 (29. , 4,  97. ,  75, 2171, 16. , 75, 3, b'"toyota corolla"')
 (23. , 4, 140. ,  83, 2639, 17. , 75, 1, b'"ford pinto"')
 (20. , 6, 232. , 100, 2914, 16. , 75, 1, b'"amc gremlin"')
 (23. , 4, 140. ,  78, 2592, 18.5, 75, 1, b'"pontiac astro"')
 (24. , 4, 134. ,  96, 2702, 13.5, 75, 3, b'"toyota corona"')
 (25. , 4,  90. ,  71, 2223, 16.5, 75, 2, b'"volkswagen dasher"')
 (24. , 4, 119. ,  97, 2545, 17. , 75, 3, b'"datsun 710"')
 (18. , 6, 171. ,  97, 2984, 14.5, 75, 1, b'"ford pinto"')
 (29. , 4,  90. ,  70, 1937, 14. , 75, 2, b'"volkswagen rabbit"')
 (19. , 6, 232. ,  90, 3211, 17. , 75, 1, b'"amc pacer"')
 (23. , 4, 115. ,  95, 2694, 15. , 75, 2, b'"audi 100ls"')
 (23. , 4, 120. ,  88, 2957, 17. , 75, 2, b'"peugeot 504"')
 (22. , 4, 121. ,  98, 2945, 14.5, 75, 2, b'"volvo 244dl"')
 (25. , 4, 121. , 115, 2671, 13.5, 75, 2, b'"saab 99le"')
 (33. , 4,  91. ,  53, 1795, 17.5, 75, 3, b'"honda civic cvcc"')
 (28. , 4, 107. ,  86, 2464, 15.5, 76, 2, b'"fiat 131"')
 (25. , 4, 116. ,  81, 2220, 16.9, 76, 2, b'"opel 1900"')
 (25. , 4, 140. ,  92, 2572, 14.9, 76, 1, b'"capri ii"')
 (26. , 4,  98. ,  79, 2255, 17.7, 76, 1, b'"dodge colt"')
 (27. , 4, 101. ,  83, 2202, 15.3, 76, 2, b'"renault 12tl"')
 (17.5, 8, 305. , 140, 4215, 13. , 76, 1, b'"chevrolet chevelle malibu classic"')
 (16. , 8, 318. , 150, 4190, 13. , 76, 1, b'"dodge coronet brougham"')
 (15.5, 8, 304. , 120, 3962, 13.9, 76, 1, b'"amc matador"')
 (14.5, 8, 351. , 152, 4215, 12.8, 76, 1, b'"ford gran torino"')
 (22. , 6, 225. , 100, 3233, 15.4, 76, 1, b'"plymouth valiant"')
 (22. , 6, 250. , 105, 3353, 14.5, 76, 1, b'"chevrolet nova"')
 (24. , 6, 200. ,  81, 3012, 17.6, 76, 1, b'"ford maverick"')
 (22.5, 6, 232. ,  90, 3085, 17.6, 76, 1, b'"amc hornet"')
 (29. , 4,  85. ,  52, 2035, 22.2, 76, 1, b'"chevrolet chevette"')
 (24.5, 4,  98. ,  60, 2164, 22.1, 76, 1, b'"chevrolet woody"')
 (29. , 4,  90. ,  70, 1937, 14.2, 76, 2, b'"vw rabbit"')
 (33. , 4,  91. ,  53, 1795, 17.4, 76, 3, b'"honda civic"')
 (20. , 6, 225. , 100, 3651, 17.7, 76, 1, b'"dodge aspen se"')
 (18. , 6, 250. ,  78, 3574, 21. , 76, 1, b'"ford granada ghia"')
 (18.5, 6, 250. , 110, 3645, 16.2, 76, 1, b'"pontiac ventura sj"')
 (17.5, 6, 258. ,  95, 3193, 17.8, 76, 1, b'"amc pacer d/l"')
 (29.5, 4,  97. ,  71, 1825, 12.2, 76, 2, b'"volkswagen rabbit"')
 (32. , 4,  85. ,  70, 1990, 17. , 76, 3, b'"datsun b-210"')
 (28. , 4,  97. ,  75, 2155, 16.4, 76, 3, b'"toyota corolla"')
 (26.5, 4, 140. ,  72, 2565, 13.6, 76, 1, b'"ford pinto"')
 (20. , 4, 130. , 102, 3150, 15.7, 76, 2, b'"volvo 245"')
 (13. , 8, 318. , 150, 3940, 13.2, 76, 1, b'"plymouth volare premier v8"')
 (19. , 4, 120. ,  88, 3270, 21.9, 76, 2, b'"peugeot 504"')
 (19. , 6, 156. , 108, 2930, 15.5, 76, 3, b'"toyota mark ii"')
 (16.5, 6, 168. , 120, 3820, 16.7, 76, 2, b'"mercedes-benz 280s"')
 (16.5, 8, 350. , 180, 4380, 12.1, 76, 1, b'"cadillac seville"')
 (13. , 8, 350. , 145, 4055, 12. , 76, 1, b'"chevy c10"')
 (13. , 8, 302. , 130, 3870, 15. , 76, 1, b'"ford f108"')
 (13. , 8, 318. , 150, 3755, 14. , 76, 1, b'"dodge d100"')
 (31.5, 4,  98. ,  68, 2045, 18.5, 77, 3, b'"honda accord cvcc"')
 (30. , 4, 111. ,  80, 2155, 14.8, 77, 1, b'"buick opel isuzu deluxe"')
 (36. , 4,  79. ,  58, 1825, 18.6, 77, 2, b'"renault 5 gtl"')
 (25.5, 4, 122. ,  96, 2300, 15.5, 77, 1, b'"plymouth arrow gs"')
 (33.5, 4,  85. ,  70, 1945, 16.8, 77, 3, b'"datsun f-10 hatchback"')
 (17.5, 8, 305. , 145, 3880, 12.5, 77, 1, b'"chevrolet caprice classic"')
 (17. , 8, 260. , 110, 4060, 19. , 77, 1, b'"oldsmobile cutlass supreme"')
 (15.5, 8, 318. , 145, 4140, 13.7, 77, 1, b'"dodge monaco brougham"')
 (15. , 8, 302. , 130, 4295, 14.9, 77, 1, b'"mercury cougar brougham"')
 (17.5, 6, 250. , 110, 3520, 16.4, 77, 1, b'"chevrolet concours"')
 (20.5, 6, 231. , 105, 3425, 16.9, 77, 1, b'"buick skylark"')
 (19. , 6, 225. , 100, 3630, 17.7, 77, 1, b'"plymouth volare custom"')
 (18.5, 6, 250. ,  98, 3525, 19. , 77, 1, b'"ford granada"')
 (16. , 8, 400. , 180, 4220, 11.1, 77, 1, b'"pontiac grand prix lj"')
 (15.5, 8, 350. , 170, 4165, 11.4, 77, 1, b'"chevrolet monte carlo landau"')
 (15.5, 8, 400. , 190, 4325, 12.2, 77, 1, b'"chrysler cordoba"')
 (16. , 8, 351. , 149, 4335, 14.5, 77, 1, b'"ford thunderbird"')
 (29. , 4,  97. ,  78, 1940, 14.5, 77, 2, b'"volkswagen rabbit custom"')
 (24.5, 4, 151. ,  88, 2740, 16. , 77, 1, b'"pontiac sunbird coupe"')
 (26. , 4,  97. ,  75, 2265, 18.2, 77, 3, b'"toyota corolla liftback"')
 (25.5, 4, 140. ,  89, 2755, 15.8, 77, 1, b'"ford mustang ii 2+2"')
 (30.5, 4,  98. ,  63, 2051, 17. , 77, 1, b'"chevrolet chevette"')
 (33.5, 4,  98. ,  83, 2075, 15.9, 77, 1, b'"dodge colt m/m"')
 (30. , 4,  97. ,  67, 1985, 16.4, 77, 3, b'"subaru dl"')
 (30.5, 4,  97. ,  78, 2190, 14.1, 77, 2, b'"volkswagen dasher"')
 (22. , 6, 146. ,  97, 2815, 14.5, 77, 3, b'"datsun 810"')
 (21.5, 4, 121. , 110, 2600, 12.8, 77, 2, b'"bmw 320i"')
 (21.5, 3,  80. , 110, 2720, 13.5, 77, 3, b'"mazda rx-4"')
 (43.1, 4,  90. ,  48, 1985, 21.5, 78, 2, b'"volkswagen rabbit custom diesel"')
 (36.1, 4,  98. ,  66, 1800, 14.4, 78, 1, b'"ford fiesta"')
 (32.8, 4,  78. ,  52, 1985, 19.4, 78, 3, b'"mazda glc deluxe"')
 (39.4, 4,  85. ,  70, 2070, 18.6, 78, 3, b'"datsun b210 gx"')
 (36.1, 4,  91. ,  60, 1800, 16.4, 78, 3, b'"honda civic cvcc"')
 (19.9, 8, 260. , 110, 3365, 15.5, 78, 1, b'"oldsmobile cutlass salon brougham"')
 (19.4, 8, 318. , 140, 3735, 13.2, 78, 1, b'"dodge diplomat"')
 (20.2, 8, 302. , 139, 3570, 12.8, 78, 1, b'"mercury monarch ghia"')
 (19.2, 6, 231. , 105, 3535, 19.2, 78, 1, b'"pontiac phoenix lj"')
 (20.5, 6, 200. ,  95, 3155, 18.2, 78, 1, b'"chevrolet malibu"')
 (20.2, 6, 200. ,  85, 2965, 15.8, 78, 1, b'"ford fairmont (auto)"')
 (25.1, 4, 140. ,  88, 2720, 15.4, 78, 1, b'"ford fairmont (man)"')
 (20.5, 6, 225. , 100, 3430, 17.2, 78, 1, b'"plymouth volare"')
 (19.4, 6, 232. ,  90, 3210, 17.2, 78, 1, b'"amc concord"')
 (20.6, 6, 231. , 105, 3380, 15.8, 78, 1, b'"buick century special"')
 (20.8, 6, 200. ,  85, 3070, 16.7, 78, 1, b'"mercury zephyr"')
 (18.6, 6, 225. , 110, 3620, 18.7, 78, 1, b'"dodge aspen"')
 (18.1, 6, 258. , 120, 3410, 15.1, 78, 1, b'"amc concord d/l"')
 (19.2, 8, 305. , 145, 3425, 13.2, 78, 1, b'"chevrolet monte carlo landau"')
 (17.7, 6, 231. , 165, 3445, 13.4, 78, 1, b'"buick regal sport coupe (turbo)"')
 (18.1, 8, 302. , 139, 3205, 11.2, 78, 1, b'"ford futura"')
 (17.5, 8, 318. , 140, 4080, 13.7, 78, 1, b'"dodge magnum xe"')
 (30. , 4,  98. ,  68, 2155, 16.5, 78, 1, b'"chevrolet chevette"')
 (27.5, 4, 134. ,  95, 2560, 14.2, 78, 3, b'"toyota corona"')
 (27.2, 4, 119. ,  97, 2300, 14.7, 78, 3, b'"datsun 510"')
 (30.9, 4, 105. ,  75, 2230, 14.5, 78, 1, b'"dodge omni"')
 (21.1, 4, 134. ,  95, 2515, 14.8, 78, 3, b'"toyota celica gt liftback"')
 (23.2, 4, 156. , 105, 2745, 16.7, 78, 1, b'"plymouth sapporo"')
 (23.8, 4, 151. ,  85, 2855, 17.6, 78, 1, b'"oldsmobile starfire sx"')
 (23.9, 4, 119. ,  97, 2405, 14.9, 78, 3, b'"datsun 200-sx"')
 (20.3, 5, 131. , 103, 2830, 15.9, 78, 2, b'"audi 5000"')
 (17. , 6, 163. , 125, 3140, 13.6, 78, 2, b'"volvo 264gl"')
 (21.6, 4, 121. , 115, 2795, 15.7, 78, 2, b'"saab 99gle"')
 (16.2, 6, 163. , 133, 3410, 15.8, 78, 2, b'"peugeot 604sl"')
 (31.5, 4,  89. ,  71, 1990, 14.9, 78, 2, b'"volkswagen scirocco"')
 (29.5, 4,  98. ,  68, 2135, 16.6, 78, 3, b'"honda accord lx"')
 (21.5, 6, 231. , 115, 3245, 15.4, 79, 1, b'"pontiac lemans v6"')
 (19.8, 6, 200. ,  85, 2990, 18.2, 79, 1, b'"mercury zephyr 6"')
 (22.3, 4, 140. ,  88, 2890, 17.3, 79, 1, b'"ford fairmont 4"')
 (20.2, 6, 232. ,  90, 3265, 18.2, 79, 1, b'"amc concord dl 6"')
 (20.6, 6, 225. , 110, 3360, 16.6, 79, 1, b'"dodge aspen 6"')
 (17. , 8, 305. , 130, 3840, 15.4, 79, 1, b'"chevrolet caprice classic"')
 (17.6, 8, 302. , 129, 3725, 13.4, 79, 1, b'"ford ltd landau"')
 (16.5, 8, 351. , 138, 3955, 13.2, 79, 1, b'"mercury grand marquis"')
 (18.2, 8, 318. , 135, 3830, 15.2, 79, 1, b'"dodge st. regis"')
 (16.9, 8, 350. , 155, 4360, 14.9, 79, 1, b'"buick estate wagon (sw)"')
 (15.5, 8, 351. , 142, 4054, 14.3, 79, 1, b'"ford country squire (sw)"')
 (19.2, 8, 267. , 125, 3605, 15. , 79, 1, b'"chevrolet malibu classic (sw)"')
 (18.5, 8, 360. , 150, 3940, 13. , 79, 1, b'"chrysler lebaron town @ country (sw)"')
 (31.9, 4,  89. ,  71, 1925, 14. , 79, 2, b'"vw rabbit custom"')
 (34.1, 4,  86. ,  65, 1975, 15.2, 79, 3, b'"maxda glc deluxe"')
 (35.7, 4,  98. ,  80, 1915, 14.4, 79, 1, b'"dodge colt hatchback custom"')
 (27.4, 4, 121. ,  80, 2670, 15. , 79, 1, b'"amc spirit dl"')
 (25.4, 5, 183. ,  77, 3530, 20.1, 79, 2, b'"mercedes benz 300d"')
 (23. , 8, 350. , 125, 3900, 17.4, 79, 1, b'"cadillac eldorado"')
 (27.2, 4, 141. ,  71, 3190, 24.8, 79, 2, b'"peugeot 504"')
 (23.9, 8, 260. ,  90, 3420, 22.2, 79, 1, b'"oldsmobile cutlass salon brougham"')
 (34.2, 4, 105. ,  70, 2200, 13.2, 79, 1, b'"plymouth horizon"')
 (34.5, 4, 105. ,  70, 2150, 14.9, 79, 1, b'"plymouth horizon tc3"')
 (31.8, 4,  85. ,  65, 2020, 19.2, 79, 3, b'"datsun 210"')
 (37.3, 4,  91. ,  69, 2130, 14.7, 79, 2, b'"fiat strada custom"')
 (28.4, 4, 151. ,  90, 2670, 16. , 79, 1, b'"buick skylark limited"')
 (28.8, 6, 173. , 115, 2595, 11.3, 79, 1, b'"chevrolet citation"')
 (26.8, 6, 173. , 115, 2700, 12.9, 79, 1, b'"oldsmobile omega brougham"')

### Concatenate Arrays
* 3 major methods of vertical concatenation; np.concatenate, np.vstack, np.r_
* 3 major methods of horizontal concatenation; np.concatenate, np.hstack, np.c_

In [149]:
# create dummy arrays
arr1 = np.zeros([4,4])
arr2 = np.ones([4,4])

# concatenate by rows
np.concatenate([arr1, arr2], axis=0) # 0 axis means rows, this is default
np.vstack([arr1, arr2])
np.r_[arr1, arr2]

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [153]:
# 3 methods of horizontal concatenation
np.concatenate([arr1, arr2], axis=1) # 1 axis means columns
np.hstack([arr1, arr2])
np.c_[arr1, arr2]

array([[0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.]])

### Sorting Arrays

In [155]:
# create dummy array
arr = np.random.randint(1, 10, size=[10,5]) # size is rows and cols
arr

array([[6, 5, 5, 7, 5],
       [5, 4, 5, 5, 9],
       [5, 4, 8, 6, 6],
       [1, 2, 6, 4, 1],
       [6, 1, 2, 3, 5],
       [3, 1, 4, 3, 1],
       [8, 6, 1, 3, 8],
       [3, 3, 4, 4, 3],
       [4, 5, 2, 3, 2],
       [5, 7, 9, 3, 4]])

In [156]:
# sort array (sorts within rows only)
np.sort(arr)

array([[5, 5, 5, 6, 7],
       [4, 5, 5, 5, 9],
       [4, 5, 6, 6, 8],
       [1, 1, 2, 4, 6],
       [1, 2, 3, 5, 6],
       [1, 1, 3, 3, 4],
       [1, 3, 6, 8, 8],
       [3, 3, 3, 4, 4],
       [2, 2, 3, 4, 5],
       [3, 4, 5, 7, 9]])

* The below code sorts both rows and columns, however it doesn't retain whole rows, so the first row below (11131) doesn't exist anywhere in the above code.

In [157]:
# sort array (sort rows and columns BUT loses row and column contents)
np.sort(arr, axis=0) # axis 0 means sort rows

array([[1, 1, 1, 3, 1],
       [3, 1, 2, 3, 1],
       [3, 2, 2, 3, 2],
       [4, 3, 4, 3, 3],
       [5, 4, 4, 3, 4],
       [5, 4, 5, 4, 5],
       [5, 5, 5, 4, 5],
       [6, 5, 6, 5, 6],
       [6, 6, 8, 6, 8],
       [8, 7, 9, 7, 9]])

* To solve this issue, we can separately get the sort order of whatever we want to sort by (in this case, the first column).
* Then we apply that sort order to the array to sort it without losing row integrity.

In [163]:
# sort first column only (showing index order of each item)
sorted_index = arr[:,0].argsort()
sorted_index

array([3, 5, 7, 8, 1, 2, 9, 0, 4, 6], dtype=int64)

In [162]:
# sort array based on first column order
arr[sorted_index]

array([[1, 2, 6, 4, 1],
       [3, 1, 4, 3, 1],
       [3, 3, 4, 4, 3],
       [4, 5, 2, 3, 2],
       [5, 4, 5, 5, 9],
       [5, 4, 8, 6, 6],
       [5, 7, 9, 3, 4],
       [6, 5, 5, 7, 5],
       [6, 1, 2, 3, 5],
       [8, 6, 1, 3, 8]])

### Working with Dates

In [165]:
# create date
d = np.datetime64('2020-05-28')
d

numpy.datetime64('2020-05-28')

In [166]:
# increment date by 1 day
d + 1

numpy.datetime64('2020-05-29')

In [168]:
# create date with hours
d = np.datetime64('2020-05-28 15:00:00')
d

numpy.datetime64('2020-05-28T15:00:00')

In [170]:
# add 16m40s (16 * 60 + 40)
d + 1000 # adding seconds, smallest unit in datetime value

numpy.datetime64('2020-05-28T15:16:40')

In [175]:
# create single day
oneday = np.timedelta64(1, 'D') # d for day

# add to datetime
d + oneday

# create one minute
oneminute = np.timedelta64(1, 'm')

# add to datetime
d + oneminute

numpy.datetime64('2020-05-28T15:01:00')

__NOTE:__
* A standard range and a numpy arange are broadly the same thing, the main difference is that a numpy range (arange) is far quicker.

In [177]:
# create a daterange
dates = np.arange(np.datetime64('2020-01-01'), np.datetime64('2020-05-28'))
dates[:2]

array(['2020-01-01', '2020-01-02'], dtype='datetime64[D]')

### Advanced Numpy Functions
* The below function is basic and runs quickly on a single number input.
* However, if we were to apply this to a huge array, we want an efficient way to do that - __vectorize__.

In [181]:
# define basic function/method
def foo(x):
    if x%2 == 1:
        return x**2
    else:
        return x/2
    
# call function on single int
foo(11)

121

In [184]:
# call fucntion using vectorize
foo_v = np.vectorize(foo, otypes=[float])

# apply function to array using vectorize
foo_v(arr)

array([[ 3., 25., 25., 49., 25.],
       [25.,  2., 25., 25., 81.],
       [25.,  2.,  4.,  3.,  3.],
       [ 1.,  1.,  3.,  2.,  1.],
       [ 3.,  1.,  1.,  9., 25.],
       [ 9.,  1.,  2.,  9.,  1.],
       [ 4.,  3.,  1.,  9.,  4.],
       [ 9.,  9.,  2.,  2.,  9.],
       [ 2., 25.,  1.,  9.,  1.],
       [25., 49., 81.,  9.,  2.]])